CONNEXION

<% @admins.each do |admin| %>
    <tr>
      <td><%= admin.email %></td>
      <td><%= admin.password %></td>
    </tr>
<% end %>

<%= render 'formconnexion' %>

<%= link_to 'Inscription', inscription_get_path%>